.sappy-panel {
  margin-bottom: 1rem;
  background: white !important;

  /* background: #f5f5f5 !important; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 10px;
}

.sappy-panel.collapsed {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-bottom: 5px;
}

.sappy-panel.collapsed > .title {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;
}

.sappy-panel > .title {
  position: relative;
  padding: 0px;
  border-bottom: 1px solid #f5f5f5;
  border-top-left-radius: .214rem;
  border-top-right-radius: .214rem;
}

.sappy-panel .title .text {
  display: initial;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  color: #37474f;
}

.sappy-panel > .title > .moreinfo {
  display: initial;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  color: #37474f;
  animation-name: fade;
  animation-duration: 2s;
}

.sappy-panel > .pbody {
  animation-name: fade;
  animation-duration: 2s;
  padding: 0px;
}

.sappy-panel > .title + .pbody {
  margin-top: 15px;
}

.sappy-panel .title .actions {
  position: absolute;
  right: 0px;
  top: 9px;
  transform: translate(0%, -50%);
  z-index: 1;
}

.sappy-panel > .title .actions .action {
  display: inline-block;
  padding: 8px 10px;
  color: #a3afb7;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
