.pos {
  font-family: "Abel" !important;
  letter-spacing: 1px !important;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;

  background: url('./posbackground2.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.pos-content {
  width: 100%;
  height: 100%;
  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.pos .sappy-panel {
  background: rgba(32, 46, 55, 0.9) !important;
}
.pos .sappy-panel .title .text {
  color: #dedede;
}

.pos .sappy-panel > .title > .moreinfo {
  color: #dedede;
}
.pos [data-tip]:before {
  color: #dedede;
}

/* --------------------------------------------------------------------------- */
.pos input,
.pos optgroup,
.pos select,
.pos textarea {
  color: #fefefe !important;
  font-family: "Abel";
  letter-spacing: 1px;
}

.pos .Select-value,
.pos .Select {
  color: #fefefe !important;
  letter-spacing: 1px;
  font-family: "Abel";
}
.pos .form-control,
.pos .Select-control {
  background-color: rgba(32, 46, 55, 0.7) !important;
  color: #fefefe !important;
}

.pos .Select-value-label {
  color: #fefefe !important;
}
.pos .Select-menu-outer {
  background-color: rgb(32, 46, 55) !important;
}

.pos .ReactVirtualized__List {
  /* background-color: rgba(32, 46, 55, 0.7) !important; */
}
.pos .ReactVirtualized__List:focus {
  background-color: rgba(32, 46, 55, 0.7) !important;
}

.pos .VirtualizedSelectOption {
  background-color: rgba(32, 46, 55, 0.7) !important;
  color: #fefefe !important;
}

.pos .Select-placeholder,
.pos .Select--single > .Select-control .Select-value {
  color: #fefefe !important;
}

.pos .react-grid-Header,
.pos .react-grid-Main {
  color: #fefefe !important;
}

.pos .react-grid-Cell.editable-col {
  color: #fefefe !important;
  font-weight: 600;
}
